{% extends "base.html" %}

{% block title %}
	User Profile
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block navigacion %}

{% endblock %}

{% block contenido %}
    <!-- About Section -->
    <section id="descripcion" class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1><strong>User: {{object.username}}</strong></h1>
                </div>
            </div>
            <div class="row ">
	            <div class="col-md-4">
					<img class="feature-img" src="/static/img/user_icon_512.png" alt=""/>
                </div>
                <div class="col-md-8">
					<img class="userprofile-img" src="{{object.profile_picture}}" alt=""/>
	                <p><strong>Name: </strong> {{object.first_name}}</p>
	                <p><strong>Last Name: </strong> {{object.last_name}}</p>
	                <p><strong>email: </strong> {{object.email}}</p>
					<p><strong>email: </strong> {{object.email}}</p>
	                <h3>Friends:</h3>
	                {% for group in object.friends.all %}
	                	<p>{{ group.name }}</p>
	                {% empty %}
	                	<p>No pertenece a ningun grupo</p>
	                {% endfor %}
	                <h3>Last login: <small>{{ object.last_login }}</small></h3>
	                <hr>
	                <div class="row">
		                <div class="col-xs-6 col-sm-4 col-sm-offset-2">
			                <p><a class="btn btn-block btn-small btn-info" href="{% url 'user_change_password' %}">Change password</a></p>
		                </div>
		                <div class="col-xs-6 col-sm-4 ">
			                <p><a class="btn btn-block btn-small btn-warning" href="{% url 'user_change_password' %}">Update profile</a></p>
		                </div>
	                </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block extra_js %}
{% endblock %}
