{% extends "base.html" %}

{% block titulo %}
	Sistema Gestión Inventarios
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block navigacion %}
	<li>
        <a class="page-scroll" href="#descripcion">Perfil Usuario</a>
    </li>
{% endblock %}

{% block contenido %}
    <!-- About Section -->
    <section id="descripcion" class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1><strong>Usuario: {{object.username}}</strong></h1>
                </div>
            </div>
            <div class="row ">
	            <div class="col-md-4">
					<img class="feature-img" src="/static/img/user_icon_512.png" alt="sgi-logo-bg"/>
                </div>
                <div class="col-md-8">
	                <p><strong>Nombres: </strong> {{object.first_name}}</p>
	                <p><strong>Apellidos: </strong> {{object.last_name}}</p>
	                <p><strong>email: </strong> {{object.email}}</p>
	                <h3>Grupos:</h3>
	                {% for group in object.groups.all %}
	                	<p>{{ group.name }}</p>
	                {% empty %}
	                	<p>No pertenece a ningun grupo</p>
	                {% endfor %}
	                <h3>Permisos:</h3>
	                {% for permiso in object.user_permissions.all %}
	                	<p>{{ permiso.name }}</p>
	                {% empty %}
	                	<p>No tiene permisos asignados</p>
	                {% endfor %}
	                <h3>Último inicio de sesión: <small>{{ object.last_login }}</small></h3>
	                <hr>
	                <div class="row">
		                <div class="col-xs-6 col-sm-4 col-sm-offset-2">
			                <p><a class="btn btn-block btn-small btn-info" href="/perfil/password/">Cambiar Contraseña</a></p>
		                </div>
		                <div class="col-xs-6 col-sm-4 ">
			                <p><a class="btn btn-block btn-small btn-warning" href="/perfil/update/">Actualizar Perfil</a></p>
		                </div>
	                </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block extra_js %}
{% endblock %}

